<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <clear />
     <add key="gitlab" value="https://gitlab.com/SBPFraud/integration/integration-utility/-/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="@Yugv" />
         <add key="ClearTextPassword" value="o84pkrpT8NtsF_5PNL_h" />
     </gitlab>
 </packageSourceCredentials>
</configuration>